
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<app-header></app-header>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="assets/imga3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/imga4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/imga5.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  
  
  <br><br>
  <h3 class="text-center">New Arrivals</h3>
  <h6 class="text-center">Just in now</h6>
  <br>
  <br>
  <div class="d-flex  justify-content-center align-items-center" >
  <table>
    
    <tr>
      <td>
  
        <div class="card img-container" style="width: 18rem;"   >
         
          <img src="assets/imga9.jpg" class="card-img-top image"  alt="...">
          
          <div class="overlay" >
            <div class="text">Hello World</div>
          </div>
        </div>
  
      </td>
      <td>
        <div class="card img-container" style="width: 18rem;" >
         
          <img src="assets/imga6.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
      </td>
      <td>
        <div class="card img-container" style="width: 18rem;" >
         
          <img src="assets/imga8.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
      </td>
      <td>
  
        <div class="card img-container" style="width: 18rem;" >
         
          <img src="assets/imga7.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
  
      </td>
    </tr>
  </table>
  
  </div>
  
  <br>
  <br>
  
  <h3 class="text-center">Categories.</h3>
  <h5 class="text-center">Just for you</h5><br>
  <div class="cat d-flex justify-content-evenly">
    
    <div><img src="assets/imga7.jpg" ><br><br><p class="text-center">Women</p></div>
    <div><img src="assets/imga8.jpg" ><br><br><p class="text-center">Men</p></div>
    <div><img src="assets/imga3.jpg" ><br><br><p class="text-center">Children</p></div>
    <div><img src="assets/imga4.jpg" ><br><br><p class="text-center">Beauty</p></div>
  </div>
  
  <br>
  <br>
  
  <table>
    <tr>
      <td>
        <div class="jumbotron jumbotron-fluid jumb" >
          <div class="container">
            <h1 class="display-7">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          </div>
        </div>
      </td>
  
      <td>
        <div class="jumbotron jumbotron-fluid jumb" style="background-color:black;color: white;"  >
          <div class="container">
            <h1 class="display-7">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          </div>
        </div>
      </td>
    </tr>
  </table>
  
  <br><br>
  
  <h2 class="text-center">Hot Deals</h2>
  <h6 class="text-center">Only This Season</h6>
  
  <table>
    
    <tr>
      <td>
  
        <div class="card img-container" style="width: 18rem;">
         
          <img src="assets/card1.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
  
      </td>
      <td>
        <div class="card img-container" style="width: 18rem;">
         
          <img src="assets/card1.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
      </td>
      <td>
        <div class="card img-container" style="width: 18rem;">
         
          <img src="assets/card1.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
      </td>
      <td>
  
        <div class="card img-container" style="width: 18rem;">
         
          <img src="assets/card1.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
  
      </td>
    </tr>
  </table>
  <br><br>
  
  <div class="jumbotron jumbotron-fluid" style="background-color:#ccc;color: white;width: 100%;height: 200px;padding-top: 50px;">
    <div class="container">
      <h1 class="display-7">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
  
  <br><br>
  <footer class="text-center"><p>CopyRights@2023</p></footer>